pkgbase = wivrn-nx-git
	pkgdesc = WiVRn NX: hot-rodded WiVRn PCVR streamer server + dashboard (Monado-based)
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/nerdrx/wivrn-nx
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = vulkan-headers
	makedepends = eigen
	makedepends = cli11
	makedepends = nlohmann-json
	makedepends = boost
	makedepends = glslang
	makedepends = gettext
	makedepends = qt6-tools
	depends = vulkan-icd-loader
	depends = boost-libs
	depends = openssl
	depends = ffmpeg
	depends = libdrm
	depends = x264
	depends = libpipewire
	depends = avahi
	depends = glib2
	depends = libnotify
	depends = librsvg
	depends = libarchive
	depends = libpng
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = kirigami
	depends = ki18n
	depends = kcoreaddons
	depends = qqc2-desktop-style
	depends = kiconthemes
	depends = qcoro-qt6
	optdepends = xrizer: OpenVR/SteamVR game compatibility
	optdepends = opencomposite: alternative OpenVR compatibility layer
	provides = wivrn-server
	provides = wivrn-dashboard
	conflicts = wivrn
	conflicts = wivrn-server
	conflicts = wivrn-dashboard
	conflicts = wivrn-git
	options = !lto
	source = wivrn-nx-git::git+https://github.com/nerdrx/wivrn-nx.git#branch=nx-patches
	sha256sums = SKIP

pkgname = wivrn-nx-git
